<div class="container" >
	<div ng-if="menu.found.length > 0" class="menu-item-tile col-md-6 " ng-repeat="item in menu.found">
		<div class ="row menu-item">
			<div class ="col-sm-5">
				<div class = "menu-item-photo">
					<div class="ng-binding">{{item.short_name}}</div>
	  				<img class="img-responsive" width="250" height="150" ng-src="images/{{item.short_name}}.jpg" alt="{{item.name}}" >
	  			</div>
	  			<div ng-if="item.price_small" class="menu-item-price"> ${{item.price_small}} {{item.small_portion_name}} ${{item.price_large}} {{item.large_portion_name}}</div>
	  			<div ng-if="!item.price_small" class="menu-item-price"> ${{item.price_large}}</div>

	  		</div>
	  		<div class = "menu-item-description col-sm-7">
	  			<button class="item-button" ng-click="menu.removeItem($index);">Don't want this one!</button>
      			<h3 class="menu-item-title">{{ item.name}}</h3>
      			<p class="menu-item-details">{{ item.description}}</p>
      		</div>
      		
      	</div>
    </div>
    <div ng-if="menu.found.length == 0">
    	<p class="alert">Nothing found !</p>
    </div>
 </div>

